@model AdminLteMvc.Contrato

@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading" style="color: green; font-size: xx-large; font-family: 'Times New Roman', Times, serif;  }">Contratos</div>
        <div class="panel-body">
        <div>
            <h4>Datos del contrato</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaInicio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaFIn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaFIn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Estado)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Precio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Precio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Proveedores.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Proveedores.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Proyectos_Ubicaciones.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Proyectos_Ubicaciones.Descripcion)
                </dd>

            </dl>
        </div>
        <p>
            <a class="btn btn-info" href="@Url.Action("Index","Contratoes")">Regresar al inicio</a>
        </p>

    </div>
</div>