@model AdminLteMvc.Supervisor

@{
 
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
 
<div class="row">
    <div class="col-md-12">
        <!-- TABLE: LATEST ORDERS -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">NUEVO SUPERVISOR</h3>
                <div class="box-tools pull-right">
                    @*<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Supervisor</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <p class="control-label col-md-2">Nombre de usuario:</p>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.nombreUsuario, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.nombreUsuario, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <p class="control-label col-md-2">Contraseña:</p>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.userPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.userPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <p class="control-label col-md-2">Id de dispositivo:</p>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.idDispositivo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.idDispositivo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <p class="control-label col-md-2">Primer nombre:</p>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.primerNombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.primerNombre, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <p class="control-label col-md-2">Segundo nombre:</p>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.segundoNombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.segundoNombre, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <p class="control-label col-md-2">Primer apellido:</p>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.primerApellido, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.primerApellido, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <p class="control-label col-md-2">Segundo apellido:</p>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.segundoApellido, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.segundoApellido, "", new { @class = "text-danger" })
                                </div>
                            </div>

                           

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Guardar" class="btn btn-facebook" />
                                </div>
                            </div>
                        </div>
                    }


                    <p>
                        <a class="btn btn-info" href="@Url.Action("Index","Supervisors")">Regresar al inicio</a>
                    </p>

                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }

                </div><!-- /.table-responsive -->
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.col -->
