@model AdminLteMvc.Supervisor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading" style="color: green; font-size: xx-large; font-family: 'Times New Roman', Times, serif;  }">Datos del supervisor</div>
        <div class="panel-body">
        <div>
            <h4>Supervisor</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Nombre de usuario:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombreUsuario)
                </dd>

                <dt>
                    Id. Dispositivo:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.idDispositivo)
                </dd>

                <dt>
                    Primer nombre:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.primerNombre)
                </dd>

                <dt>
                    Segundo nombre:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.segundoNombre)
                </dd>

                <dt>
                    Primer apellido:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.primerApellido)
                </dd>

                <dt>
                    Segundo apellido:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.segundoApellido)
                </dd>

                <dt>
                    Código externo:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CodigoExterno)
                </dd>

            </dl>
        </div>
        <p>
            <a class="btn btn-info" href="@Url.Action("Index","Supervisors")">Regresar al inicio</a>
        </p>
    </div>
</div>