@model AdminLteMvc.Tarea

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Padre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Padre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo_Empleado_Asignado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_Empleado_Asignado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.Primer_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Primer_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proyecto.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proyecto.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Codigo_Tarea }) |
    @Html.ActionLink("Back to List", "Index")
</p>
